.section-service{
    min-height: 334px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    align-items: center;
    justify-items: center;
    position: relative;
}

.section-service:nth-of-type(odd)  #lines{
  transform: translate(-50%, 0%);
}
.section-service:nth-of-type(even) #lines{
  transform:  translate(-50.2%, 0%);
}
.section-service:last-of-type #lines{
  display: none;
}

.section-service:not(:last-child){
  margin-bottom: 12rem;
}

.service-article-text{
  font-size: 14px;
    letter-spacing: 1px;
    line-height: 21px;
    color: #B3B3B3;
}

.service-article{
    grid-column: 2 / span 3 ;
    grid-row: 1 / 1;
    width: 400px;
}

.service-icon{
  position: relative;
    text-align: center;
    grid-column: 7 /10;
    grid-row: 1 / 1;
}




  .section-service:nth-of-type(even) .service-article {
    grid-column: 7 / -2;
    grid-row: 1 / 1;
    margin-right: 7rem;
  }
  .section-service:nth-of-type(odd) .service-article{
    margin-left: 7rem;
  }

  .section-service:nth-of-type(even) .service-icon {
    grid-column: 2 / span 3;
    grid-row: 1 / 1;
  }

  @media only screen and (max-width: 1250px){
    .section-service:nth-of-type(even) .service-article{
      margin-right: 0;
    }
    .section-service:nth-of-type(odd) .service-article{
      margin-left: 0;
    }
  }
  @media only screen and (max-width: 900px){
    #lines{
      display: none;
    }
    .section-service{
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  }
  .section-service:not(:last-child){
    margin-bottom: 4rem;
  }
  .service-icon{
    margin-bottom: 2rem;
  }
  .service-article{
    width: auto;
  }
  }