html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    font-family: "Roboto";
  }
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    background-color:rgb(31,30,31);
    width: 100%;
  }
  .main-container{
    max-width: 80%;
    margin: 0 auto;
    min-height: 100vh;
  }
  
  @media only screen and (max-width: 1048px) {
    .main-container{
      max-width: 90%;
    }
  }

  @media only screen and (max-width: 900px){
    html {
      font-size: 75%;
    }
  }

  @media only screen and (max-width: 480px){
    html {
      font-size: 65%;
    }
  }
  @media only screen and (max-width: 380px){
    html {
      font-size: 55%;
    }
  }
  