.main-header{
    position: relative;
    margin: 2rem 0 12rem;
    text-align: center;
}

.main-header .circle {
    position: absolute;
  width: 9px;
  height: 9px;
  background-color: #E4283E;
  border-radius: 50%;
  bottom: -40%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.main-header-subtitle{
    margin: 1rem 0;
    font-weight: 400;
    letter-spacing: 1px;
    color: #B3B3B3;
}

.main-header #lines {
    left: 50%;
    bottom: -150%;
    transform:  translate(-11.3%, -5%);
}

@media only screen and (max-width: 900px){
    .main-header{
        margin: 2rem 0 6rem;
    }
    .main-header .circle {
        display: none;
    }
    .main-header-subtitle{
        margin: 0;
    }
}
@media only screen and (max-width: 1100px){
    .main-header #lines {
        width: auto;
    }
}