.main-header{
    position: relative;
    margin: 4rem 0 14rem;
    text-align: center;
}

.main-header-subtitle{
    margin: 1rem 0;
    font-weight: 400;
    letter-spacing: 1px;
    color: #B3B3B3;
}

.main-header #lines {
    left: 50%;
    top: 121%;
    transform:  translate(-.5%, 0%);
}



@media only screen and (max-width: 900px){
    .main-header{
        margin: 2rem 0 6rem;
    }
    .main-header .circle {
        display: none;
    }
    .main-header-subtitle{
        margin: 0;
    }
}
