

#lines {
  position: absolute;
  left: 50%;
  bottom: -58%;
  visibility: hidden;
}

#lines .p-line-01 {
  stroke: rgb(31, 30, 31);
  stroke-width: 2;
}

#lines .p-line-02 {
  stroke: #d63e3d;
  stroke-linecap: round;
  stroke-width: 1;
}

#lines .p-line-03 {
  stroke: rgb(31, 30, 31);
  stroke-dasharray: 12;
  stroke-width: 2;
}

#lines .p-line {
  fill: none;
}
